//carrusel-Home

.bg-img-1 {
    background-image: url(../imgenes/synthetic3.jpg);
  }
  
  .bg-img-2 {
    background-image: url(../imgenes/flashback2.JPG);
  }
  
  .bg-img-3 {
    background-image: url(../imgenes/FAV2.jpg);
  }
  
  .bg-img-4 {
    background-image: url(../imgenes/synthetic8.jpg);
  }
  
  .carousel-imagen {
    height: 100vh;
    background-size: cover;
    background-position: center;
  }