/* Contacto */

$colorBlanco: white;

.textoContacto {
    /* margin-top: 40px; */
    padding: 50px;
    color: $colorBlanco;
  }
  
  .formulario {
    /* margin-top: 70px; */
    padding: 50px;
  }
  