/* Galeria */
.galeria {
    width: 100%;
  
    /* height: auto; */
    /* background-color: darksalmon; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(16, 200px);
    padding: 40px;
    grid-gap: 10px;
  }
  
  .item {
    border: 3px solid $color2;
    background-size: cover;
    background-position: center;
    transition: all 3s;
  
    &:hover {
      transform: scale(1.09);
    }
  }
  
  .item1 {
    background-image: url(../imgenes/synthetic5.jpg);
  }
  
  .item2 {
    background-image: url(../imgenes/synthetic6.jpg);
  }
  
  .item3 {
    background-image: url(../imgenes/synthetic9.jpg);
  }
  
  .item4 {
    background-image: url(../imgenes/synthetic12.jpg);
  }
  
  .item5 {
    background-image: url(../imgenes/synthetic10.jpg);
  }
  
  .item6 {
    background-image: url(../imgenes/flashback1.JPG);
  }
  
  .item7 {
    background-image: url(../imgenes/flashback7.JPG);
  }
  
  .item8 {
    background-image: url(../imgenes/flashback5.JPG);
  }
  
  .item9 {
    background-image: url(../imgenes/flashback8.JPG);
  }
  
  .item10 {
    background-image: url(../imgenes/flashback10.JPG);
  }
  
  .item11 {
    background-image: url(../imgenes/FAV1.jpg);
  }
  
  .item12 {
    background-image: url(../imgenes/FAV7.jpg);
  }
  
  .item13 {
    background-image: url(../imgenes/FAV3.jpg);
  }
  
  .item14 {
    background-image: url(../imgenes/FAV4.jpg);
  }
  
  .item15 {
    background-image: url(../imgenes/FAV9.jpg);
  }
  
  .item16 {
    background-image: url(../imgenes/FAV8.jpg);
  }